<div class="items-sell-contents">
  <header class="items-sell-header">
    <%= link_to image_tag('plane5-logo.png' , size: '185x110'), "/" %>

  </header>

<%# 観光の情報 %>
  <div class="items-sell-main">
    <h2 class="items-sell-title">観光スポット</h2>
    <%= form_with  model: @triptweet,local: true do |f| %>

    <%# インスタンスを渡して、エラー発生時にメッセージが表示されるようにしましょう。%>
    <%= render 'shared/error_messages', model: f.object %>
    <%# //インスタンスを渡して、エラー発生時にメッセージが表示されるようにしましょう。%>



   

    
    <%# 旅行タイトル %>
    <div class="new-items">
      <div class="weight-bold-text">
        観光スポット名
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :title, class:"items-text", id:"item-name", placeholder:"タイトル（必須 40文字まで)", maxlength:"40" %>
      <%# /旅行タイトル %>

      
 <%# 観光の詳細%>
     
      <%# 観光スポットの画像 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :images, name: 'trip_tweet[images][]',id:"travels-image" %>
        <div id="images-list"></div>
      </div>
    </div>
<%#画像複数枚表示%>
    <% @triptweet.images.each do |image| %> 
   <%= image_tag image, class: 'images' %> 
<% end %> 
    <%# /観光スポットの画像 %>

<%# 観光スポットの動画 %>

    <%# <div class="field">
    <%= f.label :video %>
     <%# <%= f.file_field :video, :accept => 'video/*' %> 
 <%# </div>  %>
<%# /観光スポットの動画 %>
   
    <%# 観光曜日%>  
         <div class="weight-bold-text">
          観光した曜日
         
        </div>
        <%= f.collection_select(:week_id, Week.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
    <%# /観光曜日%>  
      
       <%# 観光スポットの場所%>  
 <div class="hotel-detail">
      <div class="weight-bold-text">旅行の詳細</div>
      <div class="form">
        <div class="weight-bold-text">
          都道府県
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:area_id, Area.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
        <div class="weight-bold-text">
          地域
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :local, class:"hotel-area", id:"item-name", placeholder:"地域（必須 40文字まで)", maxlength:"40" %>
      </div>
    </div>
   <%# /観光スポットの場所%>  
     
     <%# 観光スポットの料金%>  
     <div class="sell-price">
      <div class="weight-bold-text question-text">
        <span>料金</span>
        <a class="question" href="#">?</a>
      </div>
      <div>
        <div class="price-content">
          <div class="price-text">
            <span>料金(割引後)</span>
            <span class="indispensable">必須</span>
          </div>
          <span class="sell-yen">¥</span>
          <%= f.text_field :price, class:"price-input", id:"item-price", placeholder:"例）5000" %>
        </div>
      </div>
    </div>
    <div class="weight-bold-text">
          だいたいどのくらい安くなったか
        </div>
        <span class="sell-yen">¥</span>
        <%= f.text_area :discount, class:"hotel-area", id:"item-name", placeholder:"例）5000", maxlength:"40" %>
        <span class="sell-yen"></span>
     <%# 観光スポットの料金%>  


      <%# コロナ対策 %>  
 <div class="corona-detail">
      <div class="weight-bold-text">コロナ対策</div>
      <div class="form">
        <div class="weight-bold-text">
        混雑状況
        </div>
        <%= f.collection_select(:crowd_id, Crowd.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
        <div class="weight-bold-text">
          コロナ対策 
        </div>
        <%= f.text_area :corona_measure, class:"hotel-area", id:"item-name", placeholder:" 宿でなされていたコロナ対策について（必須 40文字まで)", maxlength:"40" %>
      </div>
    </div>

   <%# /コロナ対策 %>  
   <%# 移動情報%>
   <div class="traffc-detail">
      <div class="weight-bold-text">施設のコロナ対策</div>
      <div class="form">
        <div class="weight-bold-text">
        移動手段と時間
        </div>
       <%= f.text_area :traffic, class:"hotel-area", id:"item-name", placeholder:"移動について自由記載 例）・新幹線:東京駅〜大阪駅(〇〇時間)・徒歩:大阪駅〜目的地〇〇に到着(〇〇分)。", maxlength:"40" %>
        <div class="weight-bold-text">

        </div>
       <div class="price-content">
          <div class="price-text">
            <span>交通費</span>
          </div>
          <span class="sell-yen">¥</span>
          <%= f.text_field :fare, class:"price-input", id:"item-price", placeholder:"例）2000" %>
        </div>
      </div>
    </div>

    
    <%# /移動情報%>
    <%# /観光の詳細%>
     

      <%# 観光スポットの説明 %>
      <div class="items-explain">
        <div class="weight-bold-text">
          キャプション
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :text, class:"items-text", id:"item-info", placeholder:"宿の説明 自由（必須 1,000文字まで）" ,rows:"7" ,maxlength:"1000" %>
      </div>
    </div>
    <%# /観光スポットの説明 %>


    
 <%# /観光の情報 %>   
    
   
    <%# 注意書き %>
    <%# <div class="caution">
      <p class="sentence">
        <a href="#">禁止されている出品、</a>
        <a href="#">行為</a>
        を必ずご確認ください。
      </p>
      <p class="sentence">
        またブランド品でシリアルナンバー等がある場合はご記載ください。
        <a href="#">偽ブランドの販売</a>
        は犯罪であり処罰される可能性があります。
      </p>
      <p class="sentence">
        また、出品をもちまして
        <a href="#">加盟店規約</a>
        に同意したことになります。
      </p>
    </div> %>
    <%# /注意書き %>
   
    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "投稿する" ,class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>

  <footer class="items-sell-footer">
    <%# <ul class="menu">
      <li><a href="#">プライバシーポリシー</a></li>
      <li><a href="#">フリマ利用規約</a></li>
      <li><a href="#">特定商取引に関する表記</a></li>
    </ul> %>
    <%= link_to image_tag('plane2-logo.png' , size: '185x50'), "/" %>
    <p class="inc">
      ©︎Travelgram,Inc.
    </p>
  </footer>
</div>