<%= render "shared/header" %>

<%= render "shared/username" %>
<%= render "shared/follow" %>



 
        <div class='my-img'>

<div class='my-img-content'>

        <% @hoteltweets.each do |hoteltweet| %>
        <% if hoteltweet.user_id == @user.id  %>
        <% hoteltweet.images.each do |image| %>
         <%= link_to  hotel_tweet_path(hoteltweet.id) do %> 
           <%= image_tag image ,class: 'myimages'   %> 
        <% end %>
          <% end %> 
         <% end %>
         <% end %>

         <% @triptweets.each do |triptweet| %>
         <% if triptweet.user_id == @user.id %>
        <% triptweet.images.each do |image| %>
           <%= link_to  trip_tweet_path(triptweet.id) do %> 
           <%= image_tag image ,class: 'myimages'   %> 
        <% end %>
          <% end %> 
         <% end %>
          <% end %>
         </div>
          </div>
          