<%# 下部広告部分 %>
<div class='ad-footer-contents'>
  <p class='ad-footer-explain'>
    
  </p>
  <h2 class='ad-footer-title'>
  
  </h2>
 <div class='store-btn1'>
     <div class='store-btn'>
      <%= link_to image_tag("jaran.png", class:"jalan-btn"), "https://www.jalan.net/" %>
      <%= link_to image_tag("yahoo.png", class:"yahoo-btn"), "https://travel.yahoo.co.jp/" %>
       <%= link_to image_tag("rurubu.png", class:"rurubu-btn"), "https://www.rurubu.travel/?utm_medium=cpc&utm_source=google&utm_campaign=google_rurubu-htl_02-brandplus&utm_content=rurubutop__txt_rsa-1_&cid=1835687&gclid=CjwKCAjw-5v7BRAmEiwAJ3DpuLemL4PcnvfCuYZAL5oo2x4LsV0sh1xQAudTeK4fzejRd6v3Q4qc8hoCrHAQAvD_BwE" %>
        </div>
       <div class='store-btn'>
       <%= link_to image_tag("rakuten.png", class:"rakuten-btn"), "https://travel.rakuten.co.jp/" %>
       <%= link_to image_tag("ikkyuu.png", class:"ikkyuu-btn"), "https://www.ikyu.com/fan/about.aspx" %>
       <%= link_to image_tag("hotelscom.png", class:"hotelscom-btn"), "https://jp.hotels.com/hoteru-otoku-joho/" %>
     </div>
     </div>
</div>
<%# /下部広告部分 %>

<div class='footer'>
  <div class='footer-contents'>
    <div class='furima-details'>
      <h2 class='footer-content-head'>TRAVELGRAMについて</h2>
      <ul>
        <li><%= link_to '会社概要（運営会社)', "#", class: "footer-link" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
        <li><%= link_to 'TRAVELGRAM利用規約', "#", class: "footer-link" %></li>
        <li><%= link_to 'ポイントに関する特約', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'>TRAVELGRAMを見る</h2>
      <ul>
        <li><%= link_to 'カテゴリー一覧', "#", class: "footer-link" %></li>
        <li><%= link_to 'ブランド一覧', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'>TRAVELGRAMについて</h2>
      <ul>
        <li><%= link_to 'TRAVELGRAMガイド', "#", class: "footer-link" %></li>
        <li><%= link_to 'TRAVELGRAMロゴ利用ガイドライン', "#", class: "footer-link" %></li>
        <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  <%= link_to image_tag("plane5-logo.png", class:"logo-white"), hotel_tweets_path %>
  <p> ©︎Travelgram</p>
</div>