<table>
<div>
  <caption>観光スポットお気に入り一覧</caption>
  </div>
  <tbody>
  
    <% @tripbookmark.each do |tripbookmark| %>
      <tr>
        <td><%= tripbookmark.trip_tweet.user.nickname %></td>
        <td>
          <%= link_to trip_tweet_path(tripbookmark.trip_tweet) do %>
            <%= tripbookmark.trip_tweet.title %>
          <% end %>
        </td>
         <td> 
            <% tripbookmark.trip_tweet.images.each do |image| %>
             <%= link_to trip_tweet_path(tripbookmark.trip_tweet) do %>
          <%= image_tag image ,class: 'images'   %> </td>
         <% end %>
          <% end %>
      
      <% end %>
      </tr>
    
    
  </tbody>
</table>

<%=link_to 'もどる', user_path(current_user.id), class:"back-btn1" %>
 
