<%= render "shared/header" %>

<div class='main'>

  <%# 画面上部の「人生を変えるフリマアプリ」帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      今だからこそ旅行へ！！！
    </h2>
    <p class='service-explain'>
      実際に行った人の生の声が聞ける
    </p>
    <p class='service-explain'>
    旅行専用投稿アプリ
    </p>
    <div class='store-btn'>
      <%= link_to image_tag("jaran.png", class:"jalan-btn"), "https://www.jalan.net/" %>
      <%= link_to image_tag("yahoo.png", class:"yahoo-btn"), "https://travel.yahoo.co.jp/" %>
       <%= link_to image_tag("rurubu.png", class:"his-btn"), "https://www.rurubu.travel/?utm_medium=cpc&utm_source=google&utm_campaign=google_rurubu-htl_02-brandplus&utm_content=rurubutop__txt_rsa-1_&cid=1835687&gclid=CjwKCAjw-5v7BRAmEiwAJ3DpuLemL4PcnvfCuYZAL5oo2x4LsV0sh1xQAudTeK4fzejRd6v3Q4qc8hoCrHAQAvD_BwE" %>
    </div>
  </div>
  <%# /画面上部の「人生を変えるフリマアプリ」帯部分  %>

  <%# 日本地図 %>
  <%# <div class='select-reason-contents'>
     <%= link_to image_tag('japanese_map.png' ), "/" %>
  <%# </div>   %> 






 <%= render "shared/japanmap" %>  















  <%# /日本地図 %>

<%# 検索%>

<%# 宿泊施設・観光スポット検索欄%>
<span class= 'search-btn'>検索</span>
<%= search_form_for @search do |f| %>
  <%= f.label :title_cont, '宿泊施設・観光スポット名' %>
  <%= f.search_field :title_cont %>




<%=f.label :area_id_eq,'都道府県'%>
<%= f.collection_select :area_id_eq, Area.all,:id,:name, include_blank: '指定なし' %>
  
  



 <%= f.label :local_cont, '地域' %>
  <%= f.search_field :local_cont %>

  
  
  
  <%= f.label :price %>
  <%= f.radio_button :price_lteq, '' %>指定なし
  <%= f.radio_button :price_lteq, '5000' %>5000円以下
  <%= f.radio_button :price_lteq, '7500' %>7500円以下
  <%= f.radio_button :price_lteq, '10000' %>10000円以下

<%= f.submit '検索' %>

<% end %>
  

<%# /宿泊施設・観光スポット検索欄%>




 
<%# 投稿一覧 %>
  <%# 宿泊施設投稿一覧 %>
  <div class='item-contents'>
    <h2 class='title'>旅行の投稿一覧</h2>
     
    
   <ul class='item-lists'>
      
      <% @hoteltweet.each do |hoteltweet| %>
    
    <li class='list'>
      <div class='item-info'>
          <h3 class='item-name'>
            <%= hoteltweet.title %>
          </h3>
           <div class='item-name'>
           
            <%= hoteltweet.area.name%>  
             地域 <%= hoteltweet.local%>         
          </div>
          
             <div class='item-name'>
            <%= "宿泊施設"%>
           </div> 

           <%#画像複数枚の時%>
         <div class='item-img-content'> 
         <% hoteltweet.images.each do |image| %>
         <%= link_to  hotel_tweet_path(hoteltweet.id) do %> 
           <%= image_tag image ,class: 'images'   %> 
         <% end %>
         <% end %> 
          </div> 

 <%#画１枚枚の時%>
 <%# <%= link_to  hotel_tweet_path(hoteltweet.id) do %> 
 <%# <div >  %>
 <%# <%=image_tag hoteltweet.image ,class:'item-img-content'%>  
<%# </div>  %>
<%# <%end%> 

         <%# <p>
          <strong>Video:</strong>
        </p> %>
         <%# <p>
       <%= link_to tweet.video_url.to_s do %>
      <%# <%= image_tag(tweet.video_url(:screenshot).to_s, id: "video", :alt => "screenshot") %>
   <%# <% end %> 
<%# </p>   %>

       
        <div class='item-info'>
          
          <div class='item-price'>
            <span><%= hoteltweet.price %>円<br>(税込み)</span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
      </li>
       <% end %>
        
        <%# /宿泊施設投稿一覧 %>
  

  <%# 観光スポット投稿一覧 %>
    <ul class='item-lists'>
      
      <% @triptweet.each do |triptweet| %>
    
    <li class='list'>
      <div class='item-info'>
          <h3 class='item-name'>
            <%= triptweet.title %>
          </h3>
           <div class='item-name'>
            
            <%= triptweet.area.name%>    
            
            地域<%= triptweet.local%>         
          </div>


              <div class='item-name'>
            <%= "観光スポット"%>
           </div>  
          
          <%#画複数枚の時%>
             
         <div class='item-img-content'> 
         <% triptweet.images.each do |image| %> 
         <%= link_to  trip_tweet_path(triptweet.id) do %> 

           <%= image_tag image ,class: 'images'   %> 
         <% end %> 
         <% end %> 
          </div> 

         <%#画１枚の時%>
  <%# <%= link_to  trip_tweet_path(triptweet.id) do %> 
 <%# <div >  %>
 <%# <%=image_tag triptweet.image ,class:'item-img-content'%>  
<%# </div>  %>
 <%# <% end %> 

        <%# <p>
          <strong>Video:</strong>
        </p> %>
         <%# <p>
       <%= link_to trip.video_url.to_s do %>
      <%# <%= image_tag(trip.video_url(:screenshot).to_s, id: "video", :alt => "screenshot") %> 
       <%# <% end %> 
        <%# </p>  %>

       
        <div class='item-info'>
          
          <div class='item-price'>
            <span><%= triptweet.price %>円<br>(税込み)</span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
      </li>
       <% end %>

      <%# お気に入り %>
      
       <%# <div class="row d-flex">
  <%= render @tweets %>
<%# </div>  %>
     <%# /お気に入り %>

    
       <%# /観光スポット投稿一覧 %>
        

      
      

     
  <%# /投稿一覧 %>

 




<div class='purchase-btn'>
  <span class='purchase-btn-text'>宿泊施設の投稿する</span>
  <a href=" /hotel_tweets/new">
    <%= image_tag 'camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
  </a>
  <span class='purchase-btn-text'>観光スポットの投稿する</span>
  <a href=" /trip_tweets/new">
    <%= image_tag 'camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
  </a>
</div>
<%# <%= render "shared/footer" %> 

