<%= render "shared/header" %>

<div class='main'>

  <%# 画面上部の「人生を変えるフリマアプリ」帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      今だからこそ旅行へ！！！
    </h2>
    <p class='service-explain'>
      実際に行った人の生の声が聞ける
    </p>
    <p class='service-explain'>
    旅行専用投稿アプリ
    </p>
    <div class='store-btn'>
      <%= link_to image_tag("jaran.png", class:"jalan-btn"), "https://www.jalan.net/" %>
      <%= link_to image_tag("yahoo.png", class:"yahoo-btn"), "https://travel.yahoo.co.jp/" %>
       <%= link_to image_tag("rurubu.png", class:"his-btn"), "https://www.rurubu.travel/?utm_medium=cpc&utm_source=google&utm_campaign=google_rurubu-htl_02-brandplus&utm_content=rurubutop__txt_rsa-1_&cid=1835687&gclid=CjwKCAjw-5v7BRAmEiwAJ3DpuLemL4PcnvfCuYZAL5oo2x4LsV0sh1xQAudTeK4fzejRd6v3Q4qc8hoCrHAQAvD_BwE" %>
    </div>
  </div>
  <%# /画面上部の「人生を変えるフリマアプリ」帯部分  %>

  <%# 日本地図 %>
  <%# <div class='select-reason-contents'>
     <%= link_to image_tag('japanese_map.png' ), "/" %>
  <%# </div>   %> 






<%# <%= render "shared/japanmap" %>  















  <%# /日本地図 %>

<%# 検索%>


