<%= render "shared/header" %>



    


    <%# 商品が売れていない場合はこちらを表示しましょう %>
    <%# <%= link_to '購入画面に進む', "#" ,class:"item-red-btn"%> 
    <%# //商品が売れていない場合はこちらを表示しましょう %>


  <%#宿泊施設%>
<div class="detail-value"><%=link_to @hoteltweet.user.nickname, user_path(@hoteltweet.user.id)%> </div>
        <%# <div class='item-img-content'>
      <%= image_tag @user.image ,class:"item-box-img" %> 
  
  
    <h2 class="name">
     宿泊施設名:<%= @hoteltweet.title %>
    </h2>
    <%#画像複数枚%>
       <div class='travel-img-content'> 
       <% @hoteltweet.images.each do |image| %> 
      <%= image_tag image ,class:"item-box-img" %> 
      <%end%> 
    <%#画像1枚%>
    <%# <%= image_tag @hoteltweet.image ,class:"item-box-img" %> 
    
     <div>
      <span><%= @hoteltweet.text %></span>
     </div>
   
   
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">都道府県</th>
          <td class="detail-value"><%= @hoteltweet.area.name %></td>
        </tr>
        <tr>
          <th class="detail-item">地域</th>
          <td class="detail-value"><%= @hoteltweet.local %></td>
        </tr>
        <tr>
          <th class="detail-item">宿泊日数</th>
          <td class="detail-value"><%= @hoteltweet.day.name %></td>
        </tr>
        <tr>
          <th class="detail-item">宿泊開始の曜日</th>
          <td class="detail-value"><%= @hoteltweet.week.name %></td>
        </tr>
        <tr>
          <th class="detail-item">宿の料金</th>
          <td class="detail-value"> ¥ <%= @hoteltweet.price%></td>
        </tr>
        <tr>
          <th class="detail-item">だいたいどのくらい安くなったか</th>
          <td class="detail-value"> ¥ <%= @hoteltweet.discount%></td>
        </tr>
        <tr>
          <th class="detail-item">混雑状況</th>
          <td class="detail-value"><%= @hoteltweet.crowd.name%></td>
        </tr>
        <tr>
          <th class="detail-item">宿のコロナ対策</th>
          <td class="detail-value"><%= @hoteltweet.corona_measure%></td>
        </tr>
        <tr>
          <th class="detail-item">利用した旅行サイト</th>
          <td class="detail-value"><%= @hoteltweet.agency.name%></td>
        </tr>
        </tbody>
    </table>
   
       <%#ブックマーク%>
         <div class="option">
      <div class="favorite-btn">
           <% if @hoteltweet.bookmark_by?(current_user) %> 
       <td><%= link_to "お気に入り",   hotel_tweet_hotel_bookmarks_path(@hoteltweet), method: :delete %><%= @hoteltweet.hotel_bookmarks.count %> </td>
     <% else %> 
       <td><%= link_to "お気に入り",  hotel_tweet_hotel_bookmarks_path(@hoteltweet), method: :post %><%= @hoteltweet.hotel_bookmarks.count %> </td>
    <% end %> 
</div>
</div>
     
   
<%#お気に入り%>

   

  <%#宿泊施設%>

  

<%  if  current_user.id == @hoteltweet.user_id %>
    <%= link_to '投稿の編集', edit_hotel_tweet_path(@hoteltweet.id), method: :get, class: "item-red-btn" %>
   <p class='or-text'>or</p>
    <%= link_to '削除', hotel_tweet_path(@hoteltweet.id), method: :delete, class:'item-destroy' %>
<% end %>






 
<%#追加コメント%>

<div class="container">
    <% if current_user %>
      <%= form_with(model: [@hoteltweet, @hoteltweetcomment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% if @hoteltweetcomments %>
        <% @hoteltweetcomments.each do |hoteltweetcomment| %>
          <p>
            <strong><%= link_to hoteltweetcomment.user.nickname, "#" %>：</strong>
            <%= hoteltweetcomment.text %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
  

 <p class="comment-warn">
        相手のことを考え丁寧なコメントを心がけましょう。
        <br>
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      </p>
    
  
  
</div>

<%= render "shared/footer" %>
